<ng-include src="'/views/partials/navbar.html'"></ng-include>
<ng-include src="'/views/partials/jumbotron.html'"></ng-include>


<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5>Your Employees</h5>
            <div id="accordion" style="margin-top: 2em;">
                <div class="card" ng-repeat="emp in employees">
                    <div class="card-header" id={{"h"+emp._id}} style="border:0px">
                        <h5 class="mb-0">
                            <button class="btn float-left" data-toggle="collapse" data-target={{"#c"+emp._id}} aria-expanded="true" aria-controls={{"c"+emp._id}}>
                            {{ emp.name }}
                            </button>
                            <div class="float-right">
                                <div ng-switch="emp.commentexist">
                                    <!-- {{appraisals.find(o => o.reviewee === emp.email)}} -->
                                    <div ng-switch-default>
                                        <a class="btn btn-outline-success btn-sm" href={{"reviews/"+emp._id+"###A"}} role="button">Add</a>
                                    </div>
                                    <div ng-switch-when='true'>
                                        <a class="btn btn-warning btn-sm" href={{"reviews/"+emp._id+"###U"}} role="button">Update</a>
                                    </div>                            
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </h5>
                        <small style="padding-left: 12px;">{{ emp.email }}</small>
                    </div>
                    <div id={{"c"+emp._id}} class="collapse show" aria-labelledby={{"h"+emp._id}} data-parent="#accordion">
                        <div data-ng-if="emp.commentexist === true">
                            <div class="card-body">
                                <p><b>Title:</b> {{ (appraisals.subject | filter:{email:emp.email}) }}</p>
                                <p><b>Rating:</b> {{ appraisals.rating }}</p>
                                {{ emp.review }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-include src="'/views/partials/footer.html'"></ng-include>