<ng-include src="'/views/partials/navbar.html'"></ng-include>
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Employee Appraisal System</h1>
        <p class="lead">WTA Assignment 1, NITK IT Department</p>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5>Your Employees</h5>
            <div id="accordion" style="margin-top: 2em;">
                <div class="card" ng-repeat="emp in employees">
                    <div class="card-header" id={{"h"+emp._id}}>
                        <h5 class="mb-0">
                            <button class="btn float-left" data-toggle="collapse" data-target={{"#c"+emp._id}} aria-expanded="true" aria-controls={{"c"+emp._id}}>
                            {{ emp.name }}
                            </button>
                            <div class="float-right">
                                <button type="button" class="btn btn-outline-success btn-sm">Add</button>
                                <button type="button" class="btn btn-warning btn-sm">Update</button>
                                <button type="button" class="btn btn-danger btn-sm">Delete</button>
                            </div>
                            <div class="clearfix"></div>
                        </h5>
                    </div>
                    <div id={{"c"+emp._id}} class="collapse" aria-labelledby={{"h"+emp._id}} data-parent="#accordion">
                        <div class="card-body">
                            <p><b>Title:</b> {{ emp.title }}</p>
                            <p><b>Rating:</b> {{ emp.rating }}</p>
                            {{ emp.review }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-include src="'/views/partials/footer.html'"></ng-include>