<div class="hundred-height">
    <div class="row h-100" style="margin:0px">
        <div class="col-sm-12 my-auto">
        <div class="card card-block w-50 mx-auto">
            <div class="card-body">
            <form ng-submit="loginVerify()">
                <div class="form-group">
                <input type="email" ng-model="user.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email Address (john@doe.com)">
                </div>
                <div class="form-group">
                <input type="password" ng-model="user.password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
                </div>
                <button type="submit" ng-click="loginVerify()" class="btn btn-primary">Submit</button>
            </form>
            </div>
        </div>
        </div>
    </div>
</div>